# Data
data/
*.tsv
!output/*.tsv

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Models
*.pkl
*.joblib
*.bin

*.pkl
data/**/*.pkl
output/*.tsv
data/**/*.tsv
